/* 初期設定
--------------------------------------------------------------------------*/


/* ページの枠組み
--------------------------------------------------------------------------*/


/* ヘッダー
--------------------------------------------------------------------------*/
h1{
    /*見出しを中央揃え*/
    text-align: center;
    /**/


}

/* ナビゲーション
--------------------------------------------------------------------------*/

/* メインコンテンツ
--------------------------------------------------------------------------*/
table.type{
    /*テキストを左寄せ*/
    text-align: left;
    /*領域内の左と上に境界線を引く*/
    border-left: 2px solid #369;
    border-top: 1px solid #ccc;
    /*隣接するセルのボーダーを重ねて表示*/
    border-collapse: collapse;
}

table.type th{
    /*テキストの項目の右と下に境界線を引く*/
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*テキストの幅を 130px　に指定*/
    width: 190px;
    /*境界内の余白を +10px*/
    padding: 10px
}

table.type td{
    /*入力フォームの右と下に境界線を引く*/
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /*入力フォームの幅を 375px　に指定*/
    width: 375px;
    /*境界内の余白を +10px*/
    padding: 10px;
}

input, textarea, select{
    /* 枠線の装飾 */
    border:1px solid #ccc;
    /* 背景色 */
    background-color: #fff;
     /* Safari,Chrome */
    -webkit-border-radius: 3px;
}
textarea{
    resize: none;
}
/* フッター
--------------------------------------------------------------------------*/
footer{
    /*境界内の余白を +10px*/
    padding: 10px;
}

button{
    /*境界内の余白を +10px*/
    padding: 10px 30px;
    /*文字のサイズを　1.4em に指定*/
    font-size: 1.0em;
    /**/
}
