/* 初期設定
--------------------------------------------------------------------------*/


/* ページの枠組み
--------------------------------------------------------------------------*/


/* ヘッダー
--------------------------------------------------------------------------*/
h1{
    text-align: center;
}

/* ナビゲーション
--------------------------------------------------------------------------*/

/* メインコンテンツ
--------------------------------------------------------------------------*/
table.type{
    text-align: left;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table.type th{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table.type td{
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/* フッター
--------------------------------------------------------------------------*/
